<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Embed Builder -->
    <meta property="og:title" content="<%= options.embedTitle %>" />
    <meta property="og:description" content="<%= options.embedDesc %>" />
    <meta property="og:image" content="<%= options.embedImage %>" />
    <meta name="theme-color" content="<%= options.embedCol %>" />
    <meta property="og:type" content="website" />
    <% if (options.bigImg == "true") { %>
    <meta name="twitter:card" content="summary_large_image" />
    <% } %>
    <title>Embed Builder</title>
  </head>
  <body></body>
</html>
