<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="An embed builder for websites which supports embedded contents such as Discord, Facebook, Twitter, etc."
    />
    <meta
      name="keywords"
      content="embed-builder embeds embed discordembed discord"
    />
    <!-- Open Graph Meta Tags -->
    <!-- Credit -->
    <meta property="og:site_name" content="Made by XoAlone#0001" />
    <!-- Dynamic Tags -->
    <meta property="og:title" content="<%= options.embedTitle %>" />
    <meta property="og:description" content="<%= options.embedDesc %>" />
    <meta property="og:image" content="<%= options.embedImage %>" />
    <meta name="theme-color" content="#<%= options.embedCol %>" />
    <meta property="og:type" content="website" />
    <% if (options.bigImg == "true") { %>
    <meta name="twitter:card" content="summary_large_image" />
    <% } %>
    <title>Embed Builder</title>
  </head>
  <body>
    <h1>Parameters</h1>
    <ul>
      <li>title - Sets the embed title!</li>
      <li>desc - Sets the embed desc!</li>
      <li>image - Sets the embed img!</li>
      <li>col - Sets the embed color (HEX)!</li>
      <li>bigImg - true | false!</li>
    </ul>
    <br />
    <h1>Examples</h1>
    <ul>
      <li>https://embed-builder.herokuapp.com/?title=Testing</li>
      <li>https://embed-builder.herokuapp.com/?desc=Testing</li>
      <li>https://embed-builder.herokuapp.com/?image=imageURL</li>
      <li>https://embed-builder.herokuapp.com/?col=FFFFFF</li>
      <li>https://embed-builder.herokuapp.com/?bigImg=true</li>
    </ul>
    <br />
    <h1>FAQ</h1>
    <ul>
      <li>
        <b>How can I add a space between text? </b>It is as easy as eating a
        cake, just add a + instead of a space. Example:
        https://embed-builder.herokuapp.com/?title=This+works!
      </li>
      <li>
        <b>Where can I get the source for this project? </b
        ><a href="https://github.com/XoAlone/embed-builder">Click Me</a>
      </li>
      <li>
        <b>Got anything you need to ask me? </b
        ><a href="https://github.com/XoAlone/embed-builder/issues"
          >Create A New Issue Here</a
        >
      </li>
    </ul>
  </body>
</html>
